@model EmailMaker.Controllers.ViewModels.EmailTemplateEditModel
@using EmailMaker.Web;
@using EmailMaker.Controllers.Template;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var editTemplateModel;

    $(document).ready(function () {
        editTemplateModel = {
            emailTemplate: ko.observable(@Html.Raw(Html.ToJson(Model.EmailTemplate))),
            saveTemplate: function() {
                $.postJson("@(Html.UrlFromControllerMethod<TemplateController>(c => c.Save(null)))", this.emailTemplate);
            },
            createVariable: function() {
                $.postJson("@(Html.UrlFromControllerMethod<TemplateController>(c => c.CreateVariable(null)))", { 
                    HtmlTemplatePartId: this.PartId, 
                    HtmlStartIndex: 1,
                    Length: 1,
                    EmailTemplate: editTemplateModel.emailTemplate()
                }, editTemplateModel.reloadEmailTemplate);
            },
            reloadEmailTemplate: function() {
                $.post("@(Html.UrlFromControllerMethod<TemplateController>(c => c.GetEmailTemplate(default(int))))", { id: editTemplateModel.emailTemplate().EmailTemplateId }, function(data) {
                    editTemplateModel.emailTemplate(data);
                });            
            }
        };
        ko.applyBindings(editTemplateModel, document.getElementById("editEmailTemplate"));
    });
</script>

<h2>Edit</h2>

<div id="editEmailTemplate" data-bind="template: { name: 'emailTemplateKoTemplate', foreach: emailTemplate().Parts }">
    <button data-bind="click: saveTemplate">Save</button>
    <button data-bind="click: createVariable">test</button>
</div>

<script id="emailTemplateKoTemplate" type="text/html">
    {{if Html}} 
        <div class="htmlBlock">
            <label>Html block</label>
            <textarea data-bind="value: Html"></textarea>
            <button data-bind="click: editTemplateModel.createVariable" data-part-id="${PartId}">Create variable</button>
        </div>
    {{/if}}
    {{if VariableValue}} 
        <div class="variable">
            <label>Variable</label>
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>Default value</td>
                    <td><input type="text" data-bind="value: VariableValue" /></td>
                </tr>
            </table>
            <button>Delete variable</button>
        </div>
    {{/if}}
</script>


