@model EmailMaker.Controllers.ViewModels.EmailTemplateEditModel
@using EmailMaker.Web;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        var model = {
            emailTemplate: @Html.Raw(Html.ToJson(Model.EmailTemplate)),
            saveTemplate: function() {
                $.ajax({
                    url: "/Template/Save",
                    type: "POST",
                    data: JSON.stringify(this.emailTemplate),
                    contentType: "application/json; charset=utf-8"
                });
            }
        };
        ko.applyBindings(model);
    });
</script>

<h2>Edit</h2>

<div data-bind="template: { name: 'emailTemplateKoTemplate', foreach: emailTemplate.Parts }">
    <button data-bind="click: saveTemplate">Save</button>
</div>

<script id="emailTemplateKoTemplate" type="text/html">
    {{if Html}} 
        <div class="htmlBlock">
            <label>Html block</label>
            <textarea data-bind="value: Html"></textarea>
        </div>
    {{/if}}
    {{if VariableValue}} 
        <div class="variable">
            <label>Variable</label>
            <button>${VariableValue}</botton>
        </div>
    {{/if}}
</script>

