<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CoreDddNhibernatePersistenceTestsConnection" connectionString="Data Source=CoreDdd.Nhibernate.PersistenceTests.db;New=True;" />
<!--  <add name="CoreDddNhibernatePersistenceTestsConnection" connectionString="Server=localhost; User=emailmaker;Password=password01;Initial Catalog=CoreDddTest;" />-->
</connectionStrings>