<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4Net"/>
  </configSections>
  <connectionStrings configSource="connectionStrings.config"/>

  <MsmqTransportConfig 
    InputQueue="EmailMakerService"
    ErrorQueue="EmailMakerServiceError"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Rhino.DSL" publicKeyToken="0b3305902db7183f" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Boo.Lang.Compiler" publicKeyToken="32c39770e9a21a67" />
        <bindingRedirect oldVersion="2.0.9.2" newVersion="2.0.9.3" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <log4net debug="false">
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="console"/>
    </root>
  </log4net>
</configuration>