<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <hibernate-configuration configSource="hibernate.cfg.xml"/>
  <connectionStrings configSource="connectionStrings.config"/>
</configuration>
